@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --color-primary: #17181D;
    --color-accent: #ED9145;
    --color-light: #FCD9B8;
    --color-secondary: #292C35;
    --font-style: roboto, sans-serif;
    --font-styleHeader: 'Roboto Mono', monospace;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--color-light);
    height: 100%;
    width: 100%;
    font-family: 'Courier New', monospace;
    z-index: 0;
}

.nav-container {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1.5% 0% 1.5%;
    z-index: 5;
}

.nav-list {
    display: flex;
    align-items: end;
    font: var(--font-style);
    font-size: 120%;
    z-index: 5;
}

.logo-header {
    font-family: var(--font-styleHeader);
    /* Gunakan font-family */
    font-weight: bold;
    font-size: 140%;
    /* padding-left: 0.5%; */
    background-color: var(--color-primary);
    color: var(--color-accent);
}

.nav-list li {
    margin-left: 20px;
    list-style-type: none;
}

.navWrapper {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.text-home-container {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding-top: 5%;
    padding-left: 5%;
    align-items: start;
    /* margin:  */
    z-index: 5;
}

.text-home-line {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

.text-home-name {
    font-size: 3rem;
    font-weight: bold;
    color: #fce0c3;
    margin: 0;
}

.text-home-description {
    font-size: 2rem;
    margin-top: 0.5rem;
    white-space: pre-line;
    color: white;
}

.containerText-Prof {
    position: relative;
    z-index: 5;
}

.text-prof-container {
    font-family: 'Roboto Mono', monospace;
    padding-right: 8%;
}

.text-prof-line {
    font-size: 14px;
    color: white;
}

.text-prof-description {
    padding-left: 5%;
    color: white;
}

.Galery-box {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    margin-bottom: 26.7%;
}

.containerBox-Galery {
    display: flex;
    padding-top: 11.5%;
    width: 95%;
    align-items: center;
    margin: 0 auto;
}

.Galery-description {
    font-size: 10px;
}

.container-skill-box {
    background-color: var(--color-secondary);
    border: 2px solid var(--color-accent);
    /* Tambahkan ketebalan dan gaya */
    width: 420px;
    height: 366px;
    z-index: 5;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.app {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--color-primary);
    z-index: 5;
    /* Tambahkan ini untuk memastikan .app di atas */
}

.separator {
    color: #fce0c3;
    font-weight: bold;
    margin: 0 0.3rem;
}

.highlight {
    color: #fce0c3;
    font-weight: bold;
}

/* Background layer with dot patterns */
.my-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.line-wrapper {
    /* display: none; */
    padding: 1%;
    position: absolute;
    margin-top: 95%;
}

.content {
    position: relative;
    padding: 2% 2% 0% 2%;
}

.content2 {
    position: relative;
    padding: 5% 2% 0% 2%;

}



.body-wrapper {
    position: absolute;
    /* background-color: #f5f5f5; */
    /* min-height: 2600px; */
    width: 100%;
    z-index: 2;
}

.dot-container {
    position: relative;
    overflow: visible;
    min-height: 2600px;
}

.dot-pattern {
    position: absolute;
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 12px 12px;
    opacity: 0.8;
}

.dot1 {
    width: 130px;
    height: 130px;
    border-radius: 100%;
}

.dot2 {
    width: 450px;
    height: 450px;
    border-radius: 100%;
}

.dot3 {
    width: 355px;
    height: 84px;
    border-radius: 0 25% 25% 0;
}

.dot4 {
    width: 280px;
    height: 280px;
    border-radius: 100%;
}

.dot5 {
    width: 170px;
    height: 170px;
    border-radius: 100%;
}

.dot6 {
    width: 240px;
    height: 240px;
    border-radius: 100%;
}

.dot7 {
    width: 260px;
    height: 260px;
    border-radius: 100%;
}

.dot8 {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.dot9 {
    width: 72px;
    height: 72px;
    border-radius: 100%;
}

.pos1 {
    top: 0%;
    left: -1.2%;
    transform: translate(-22%, -22%);
}

.pos2 {
    top: 13%;
    right: 5%;
}

.pos3 {
    top: 27.5%;
}

.pos4 {
    top: 34.5%;
    left: 9%;
}

.pos5 {
    top: 8%;
    right: 35%;
}

.pos6 {
    top: 15%;
    left: 8%;
}

.pos7 {
    top: 18%;
    left: 35%;
}

.pos8 {
    top: 40%;
    right: -8%;
}

.pos9 {
    bottom: 34%;
}

.pos10 {
    bottom: 3%;
    left: -8%;
}

.pos11 {
    bottom: 25%;
    right: -8%;
}

.background-layer {
    position: absolute;
    top: 29%;
    width: 100%;
    height: 35%;
    background-color: var(--color-secondary);
    z-index: -1;
}

.Img-icon {
    width: 100px;
    height: 100px;
}

.ImageHum1 {
    height: 500px;
    width: 500px;
    padding-top: 14.5%;
    padding-right: 5px;
    z-index: 5;
}

.ImageHum2 {
    height: 350px;
    width: 350px;
    padding-left: 3%;
    z-index: 5;
    border-radius: 90%;
}

.containerImage-Home {
    display: flex;
    justify-content: space-between;
}

.containerImage-Prof {
    display: flex;
    justify-content: left;
    gap: 2%;
}

.containerTitle {
    display: flex;
    gap: 2%;
    padding-top: 5%;
    justify-content: space-between;
}

.myButton {
    padding: 10px 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.myButton-CV {
    background-color: var(--color-accent);
    color: white;
    z-index: 5;
}

.myButton-Blog {
    background-color: transparent;
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    z-index: 5;
}

.myButton:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.button-container {
    display: flex;
    gap: 2%;
    padding-top: 10%;
}

.skill-icon {
    text-align: center;
    padding-top: 5%;
}

.skill-description {
    padding: 0% 5% 0% 5%;
}

.skill-name {
    text-align: center;
}

.timeline-path {
    stroke: white;
    stroke-width: 4;
    fill: none;
}

.timeline-circle {
    fill: white;
}

.vector-section {
    position: absolute;
    margin-top: 1800px;
    /* Daripada pakai position: absolute */
    width: 100%;
    text-align: center;
}

.vector-container {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.vector-image {
    height: auto;

}

.footer-container {
    display: flex;
    height: 150px;
    margin-top: 5%;
    gap: 1%;
    background-color: var(--color-accent);
    z-index: 5;
}

.footer-Contact {
    padding: 1% 0% 0% 1%;
    width: 30%;
}

.footer-Service {
    padding: 1% 0% 0% 0%;
    width: 20%;
}

.footer-Contact-Us {
    color: black;
}

.footer-Contact-Us-Desc {
    line-height: 1.2px;
}

.footer-Search {
    width: 30%;
    padding: 3% 1% 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;

}

.footer-Container-Search {
    width: 450px;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 12px;
    gap: 8px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.footer-Search-Text {
    font-size: 24px;
}

.footer-Search-Input-Field {
    width: 250px;
    height: 30px;
    justify-content: end;
    align-items: end;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* ✅ pastikan ikon tersusun kanan */
.footer-Search-Img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-Search-Icon {
    width: 40px;
    height: 40px;
}

.footer-Search-Icon-Image {
    width: 30px;
    height: 30px;
}

.containerFooter {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 5;
}



/* responsif untuk layar kecil */
@media (max-width: 600px) {

    .nav-container {
        width: 100%;
    }

    .logo-header {
        font-size: 14px;
    }

    .nav-list li {
        padding-right: 12px;
        margin-left: 5px;
        font-size: 10px;
    }

    .navWrapper {
        width: 100%;
    }

    .ImageHum1 {
        height: 160px;
        width: 160px;
        padding-top: 45px;
    }

    .ImageHum2 {
        width: 140px;
        height: 140px;
        padding-top: 10px;
    }

    .Img-icon {
        width: 50px;
        height: 50px;
    }

    .text-home-line {
        font-size: 1rem;
    }

    .text-home-name {
        font-size: 1rem;
    }

    .text-home-description {
        font-size: 0.8rem;
    }

    .text-prof-line {
        font-size: 12px;
    }

    .text-prof-description {
        font-size: 10px;
    }

    .button-container {
        padding-top: 2%;
    }

    .myButton {
        padding: 5px 10px;
        font-size: 8px;
        border: none;
        cursor: pointer;
        border-radius: 12px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    .myButton-CV {
        background-color: var(--color-accent);
        color: white;
        z-index: 5;
    }

    .myButton-Blog {
        background-color: transparent;
        color: var(--color-accent);
        border: 2px solid var(--color-accent);
        z-index: 5;
    }

    .myButton:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
    }

    .containerBox-Galery {
        padding-top: 10%;
    }

    .container-skill-box {
        display: none;
    }

    .container-Galery3 {
        display: none;
    }

    .content2 {
        padding-top: 1%;
    }

    /*  */
    .dot-container {
        position: relative;
        max-height: 420px;
    }

    .dot1 {
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }

    .dot2 {
        width: 170px;
        height: 170px;
        border-radius: 100%;
    }

    .dot3 {
        width: 150px;
        height: 34px;
        border-radius: 0 25% 25% 0;
        -webkit-border-radius: 0 25% 25% 0;
        -moz-border-radius: 0 25% 25% 0;
        -ms-border-radius: 0 25% 25% 0;
        -o-border-radius: 0 25% 25% 0;
    }

    .dot4 {
        display: none;
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }

    .dot5 {
        /* display: none; */
        width: 58px;
        height: 58px;
        border-radius: 100%;
    }

    .dot6 {
        width: 48px;
        height: 48px;
        border-radius: 100%;
    }

    .dot7 {
        width: 110px;
        height: 110px;
        border-radius: 100%;
    }

    .dot8 {
        display: none;
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }

    .dot9 {
        display: none;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        /* background-color: white; */
    }

    .pos2 {
        top: 4%;
        right: 2%;
    }

    .pos3 {
        top: 9.3%;
    }

    .pos6 {
        display: none;
    }
    .pos8 {
        display: none;

    }
    .pos9 {
        top: 17%;
    }
    .pos10 {
        top: 31%;
        left: -5%;
    }
    .pos11 {
        top: 25%;
        right: -5%;
    }

    .line-wrapper {
        display: none;
    }


    .background-layer {
        position: absolute;
        top: 10%;
        width: 100%;
        height: 8%;
        background-color: var(--color-secondary);
        z-index: -1;
    }


    .footer-Service {
        display: none;
    }

    .footer-Contact {
        width: 50%;
    }

    .footer-Contact-Us {
        font-size: 11px;
    }

    .footer-Contact-Us-Desc {
        font-size: 9px;
    }

    .footer-container {
        width: 100%;
    }

    .footer-Container-Search {
        width: 170px;
        height: 30px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .footer-Search-Input-Field {
        width: 140px;
        height: 20px;
    }

    .footer-Search-Text {
        display: none;
    }

    .footer-Search-Icon {
        width: 25px;
        height: 25px;
    }

    .footer-Search-Icon-Image {
        width: 15px;
        height: 15px;
    }

    .footer-container {
        height: 80px;
    }

    .footer-terms {
        font-size: 8px;
    }

    .containerTitle {
        display: none;
    }

}

@media (min-width: 480px) and (max-width: 1250px) {

        .dot-container {
        position: relative;
        maxn-height: 1200px;
    }

    .dot1 {
        width: 180px;
        height: 180px;
        border-radius: 100%;
    }

    .dot2 {
        width: 350px;
        height: 350px;
        border-radius: 100%;
    }

    .dot3 {
        width:290px;
        height: 74px;
        border-radius: 0 25% 25% 0;
        -webkit-border-radius: 0 25% 25% 0;
        -moz-border-radius: 0 25% 25% 0;
        -ms-border-radius: 0 25% 25% 0;
        -o-border-radius: 0 25% 25% 0;
    }

    .dot4 {
        /* display: none; */
        width: 220px;
        height: 220px;
        border-radius: 100%;
    }

    .dot5 {
        /* display: none; */
        width: 140px;
        height: 140px;
        border-radius: 100%;
    }

    .dot6 {
        width: 160px;
        height: 160px;
        border-radius: 100%;
    }

    .dot7 {
        width: 190px;
        height: 190px;
        border-radius: 100%;
    }

    .dot8 {
        /* display: none; */
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }

    .dot9 {
        /* display: none; */
        width: 48px;
        height: 48px;
        border-radius: 100%;
        /* background-color: white; */
    }

    .pos1 {
    top: -2%;
    left: -5%;
    transform: translate(-22%, -22%);
}

    .pos2 {
        top: 5.5%;
        right: 1%;
    }

    .pos3 {
        top: 18.5%;
    }

    .pos4 {
        top: 22.5%;
        left: 7%;
    }
    .pos5 {
        top: 5%;
        right: 38%;
    }
    .pos6 {
        top: 12%;
        left: 7%;
    }
    .pos7 {
        top: 14%;
        left: 40%;
    }
    .pos8 {
        top: 30%;
    }
    .pos9 {
        top: 46%;
    }
    .pos10 {
        top:67%;
        left: -8%;
    }
    .pos11 {
        top: 53%;
        right: -5%;
    }


    .background-layer {
        position: absolute;
        top: 20.2%;
        width: 100%;
        height: 30%;
        background-color: var(--color-secondary);
        z-index: -1;
    }

    .ImageHum1 {
    height: 350px;
    width: 350px;
    padding-top: 13.5%;
    transform: translateX(5%);
    z-index: 5;
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%);
}

    .ImageHum2 {
        width: 240px;
        height: 240px;
        padding-top: 10px;
    }
    .text-home-container{
        padding-top: 10%;
    }

    .text-home-description {
        font-size: 1.2rem;
    }
    .text-home-line {
        font-size: 2rem;
    }
    .text-home-name {
        font-size: 2rem;
    }

    .container-skill-box {
        height: 350px;
    }

    .footer-Service {
        display: none;
    }

    .footer-Contact {
        width: 50%;
    }

    .footer-Contact-Us {
        font-size: 150%;
    }

    .footer-Contact-Us-Desc {
        font-size: 95%;
    }
} 